*{
    margin: 0;
    padding: 0;
}
.gridcenter{
    display: grid;
    justify-content: center;
    align-items: center;
}
.gridbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#wrapper{
    height: 100vh;
    width: 100vw;
}